<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="John P. McCrae">
    <title>Open English WordNet</title>
</head>

<body>
    <div class="synset">
        <div class="synset-id">
            <span class="identifier">{{ id }}</span> (<b class="synset-id-title">Interlingual Index:</b> 
            <span class="identifier">{{ ili }}</span>)
            <hr/>
        </div>

        <div class="lemmas">
            <span class="pos">({{ partOfSpeech }}) </span>{{#each members}}
            <span class="lemma">
                <a target="_self" href="/lemma/{{ lemma }}">{{ lemma }}</a>{{#if entry_no }}
                <span><sup>{{ entry_no }}</sup></span>{{/if}}
                <span class="sense_key"> {{ sense.id }}</span>{{#if member.pronunciation }}
                <span class="pronunciation">
                    (Pronunciation:
                    {{#each pronunciation}}<span>
                        {{#if variety }}<span class="pronunciation_variety">({{ variety }})</span>{{/if}}
                        {{value}}{{#unless @last}}, {{/unless}}
                    </span>)&nbsp;{{/each}}
                </span>{{/if}}
                {{#unless @last}},{{/unless}}
            </span>
            {{/each}}
        </div>
    </div>
</body>

</html><div>
