<div class="synset">
    <div class="synset-id">
        <span class="identifier">{{ id }}</span> (<b class="synset-id-title">Interlingual Index:</b> 
        <span class="identifier">{{ ili }}</span>)
        <hr/>
    </div>

    <div class="lemmas">
        <span class="pos">({{ partOfSpeech }}) </span>{{#each members}}
        <span class="lemma">
            <a target="_self" href="/lemma/{{ lemma }}">{{ lemma }}</a>{{#if entry_no }}
            <span><sup>{{ entry_no }}</sup></span>{{/if}}
            {{#unless @last}},{{/unless}}
        </span>
        {{/each}}
        <span class="definition">{{ definition.0 }}</span>
        {{#each example}}<span class="example"> 
            &ldquo;{{this}}&rdquo;</span>
        </span>
        {{/each}}
    </div>
    <div class="relations">
        {{#if hypernym}}
        <div class="relation-title">Hypernyms   
        {{/if}}
        <ul>
        {{#each hypernym}}
            <li><a href="/index/{{this}}">{{this}}</a></li>
        {{/each}}
        </ul>
    </div>
    <div class="relations">
        {{#if hyponym}}
        <div class="relation-title">Hyponyms   
        {{/if}}
        <ul>
        {{#each hyponym}}
            <li><a href="/index/{{this}}">{{this}}</a></li>
        {{/each}}
        </ul>
    </div>
</div>
